<footer class="bg-dark text-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Recipe App</h5>
                <p>Your go-to destination for delicious recipes and cooking inspiration.</p>
            </div>
            <div class="col-md-6">
                <h6>Quick Links</h6>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-light">Home</a></li>
                    <li><a href="/recipes" class="text-light">Browse Recipes</a></li>
                    <li><a href="/add-recipe" class="text-light">Share Your Recipe</a></li>
                    <li><a href="/about" class="text-light">About Us</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <p>&copy; 2024 Recipe App. All rights reserved.</p>
        </div>
    </div>
</footer>