<div class="text-center py-5">
    <h1 class="display-1">404</h1>
    <h2 class="mb-4">Oops! Recipe Not Found</h2>
    <p class="lead">The recipe you're looking for seems to have vanished from our kitchen!</p>
    <p>Don't worry, there are plenty of other delicious recipes waiting for you.</p>
    
    <div class="mt-4">
        <a href="/" class="btn btn-primary me-3">Go Home</a>
        <a href="/recipes" class="btn btn-outline-primary">Browse Recipes</a>
    </div>
    
    <div class="mt-5">
        <span style="font-size: 5rem;">🍳</span>
    </div>
</div>